.outer
  .inner
    button.progress-vanilla[data-progress=1 data-path=progress_state_path]
      | Start
    .progress[data-id=1]
      span.percent
        | 0%
      .progress-bar
        .bar-inner
          span.percent.over
            | 0%
    button.progress-jquery[data-progress=2 data-path=progress_state_path]
      | Start
    .progress[data-id=2]
      span.percent
        | 0%
      .progress-bar
        .bar-inner
          span.percent.over
            | 0%
