.progress {
  background-color: #efefef;
  height: 70px;
  position: relative;
  width: 800px;

  &:not(last-child) {
    margin-bottom: 50px;
  }

  .percent {
    color: #3e8bb2;
    font-size: 30px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

    &.over {
      color: white;
    }

  }

  .progress-bar {
    background-color: #3e8bb2;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 100%;
    top: 0;

    .bar-inner {
      height: 100%;
      position: relative;
      width: 800px;
    }
  }
}

button {
  transition: transform .15s;
  background: #3e8bb2;
  border: 0;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  height: 50px;
  margin: 20px 0;
  min-width: 150px;
  outline: 0;

  &:hover {
    background-color: lighten(#3e8bb2, 10);
  }

  &:active {
    transform: scale(.95);
  }

  &:disabled {
    background-color: #ddd;
    cursor: default;
  }
}
